
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient( rgba(1, 0, 0, 0.49), rgba(0, 0, 0, 0.59) ), url('ig2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-image: no-repeat center fixed; 
}

#mc_embed_signup_scroll > h2:nth-child(1) > center:nth-child(1) {
    color: #3105a8;
    font-size: 1.6rem;;
}
.contact .content {
    max-width: 800px;
    text-align: center;

}

.contact .content h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: white;

}

.contact .content p {
    font-weight: 400;
    font-size: 32px;
    color: white;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'Cantata One', serif;

}

#mc_embed_signup {
    border-radius: 5%;
}

.bottomPage {
    color: rgb(238, 234, 234);
    margin-top: 60px;
    font-size: 2rem;
    text-align: center;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px ;
}


.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;

}

.container .contactInfo .box .icon {
  height: 60px;
  min-width: 60px;;
  color: white;
    justify-content: center;
    align-items: center;
    background: #3105a8;
  font-size: 1.7rem;
    display: flex;
    border-radius: 50%;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 26px;
    color: white;
    flex-direction: column;
    font-weight: 400;
    min-width: 240px;
}

.container .contactInfo .box .text h3 {
    font-weight:  400;
    color: rgb(242, 242, 247);
    margin-bottom: 10px;
    text-transform:  uppercase;
    text-transform: bold;
    
}

h3 {
    text-decoration: underline;
}



.contactForm {
    width: 40%;
    padding: 40px;
    background: white;
}


.contactForm h2 {
    font-size: 40px;
    color: #333;
    font-weight: 400;
}

.contactForm .inputBox {
    position: relative;
width: 100%;
margin-top: 20px;

}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;



}

#mc-embedded-subscribe { background-color: #3105a8 !important; 
  padding: 5 5 5 5px;
} 

#mc_embed_signup .button {
    font-size: 1.5rem !important;
    justify-content: center !important;
    height: 40px !important;
    text-align: center !important;
}


.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY (-20px);
}

p {
    font-size: 1.3rem;
}

.bottomPage {
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
}






@media (max-width: 900px) {
.contact
{
    padding: 50px;
    background-position: center;
}
.container {
    flex-direction: column ;
}
.container .contactInfo {
    margin-bottom: 20px;
}
.container .contactInfo, .contactForm {
    width: 300px;
}
#mc_embed_signup form {
    min-width: 350px;
}
.retirementPic > img:nth-child(1) {
    min-width: 250px;
}
}

